# ---> Actionscript
# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.idea/
__pycache__/
pickles/
.settings/
results/

/random_walks.txt
*.log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

